    <!--====================== top nav bar ======================-->

<nav class="navbar navbar-expand-md navbar-light bg-warning">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item h5">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item h5">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item h5">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item h5">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-link h6" href="/signup">Sign-Up</a>
      </li>
      <li>
        <a class="nav-link h6" href="/signin">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h6" href="/cart">Cart</a>
      </li>
    </ul>
  </div>
</nav>
