<%- include('partials/header') %>

<%- include('partials/navbar') %>



<!-- Cart Page  -->
    <table class="cart-table" border="3" cellpadding="20">
        <thead class="table-head">
            <tr class="table-row">
                <th>Sr. No</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row" align="center">
                <td>1</td>
                <td>Pencil</td>
                <td>Rs. 5.00</td>
            </tr>
        </tbody>
        <tfoot >
            <tr class="table-row">
                <th colspan="2">Total Price to pay = </th>
                <th>Rs. 5.00</th>
            </tr>
        </tfoot>
    </table>



<%- include('partials/footer') %>

