/* ============     SELECTOR CSS    ========================= */
body {
  background-color: rgb(224, 241, 112);
}

h1 {
  text-align: center;
  color: red;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(32, 32, 26);
  text-align: center;
}
h3{
    color: blue;
}





/*==================== NAV BAR CSS ====================*/



/*==================== HOME PAGE CSS ====================*/

.front-container {
  position: relative;

  height: 200px;
}

.front-img {
  background-position: center;
  background-repeat: space;
  background-size: cover;
  max-height: 90vh;
  width: 100%;
}

.content {
  position: absolute;
  top: 200px;
  left: 325px;
}


/* ====================================   PRODUCT TEMPLATE CSS    ======================================== */

.product{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(240, 247, 179);
}



.product-card{
    padding: 2%;
    flex-grow: 1;
    flex-basis: 35%;
    align-items:center;
    display: flex;
   
}

.product-img {
  padding: 10px;
    height: 250px;
    width: 200px;

}

.product-img img{
    max-width: 100%;
}

.btn-product {
  
  border-radius: 5px;
  background-color: green;
  color: white;
  padding: 10px auto;
  margin: 25px auto 20px;
  height: 30px;
  width: 100px;
}

div p {
  font-weight: 500;
  font-size:medium;
  line-height: 10px;
  color: rgb(0, 0, 0);
}

button:focus{
  color: red;
}

/* =========================    CART CSS      ============================== */
/* i will reformat this table once project complete */
.cart-table{
  position: relative;
  top: 150px;
  left: 500px;
  border: 0;
  text-align: center;
  border-color: rgb(0, 0, 0);

}

.table-row{
  align-items: center;
  font-size: larger;
}

th,td{
  /* border: 0; */
  border: 2;
  border-color: black;
}

.btn-cart{
  background-color: lightgreen;
  border-radius: 8px;
  border: darkgreen 2px solid;
}

/* =====================   LOGIN CSS     ======================= */




/* ===================   SIGN IN PAGE CSS ===================== */


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}